.green-rewards {
    &--title-bar {
        background-color: #E7E6E6;
    }

    &-status {
        margin-left: 10px;
        margin-right: 10px;
    }
}


.MuiLinearProgress-bar1Determinate {
    background-color: #008522 !important;
    border-radius: 20px;
}